body {
  font-size: 16px;
  font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
}

img#video {
	position: fixed;
	z-index: 1;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#quoteSection {
  visibility: hidden;
  opacity: 0;
  position: fixed;
	width: auto;
	bottom: 50px;
	left: 10%;
	right: 10%;
  font-size: 2.0em;
  line-height: 1em;
  text-align: center;
  font-weight: bold;
  color: white;
  -webkit-text-stroke: .5px black;
}

#quoteSection.visible {
  visibility: visible;
  opacity: 1;
  z-index:2;
}